div#back-to-results-banner {
display: flex;
align-items:center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
background-color: #6D757E;
border-radius: 5px;
border-style: none;
min-height: 40px;
margin-top: 5px;
width: 100%;
}

.btr-banner a {
  color: #DCAE3F;
  display: inline-block;
  padding: 7px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.movie-covers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.movie-img {
    width: 300px;
    height: 500px;
    padding: 20px 10px
}